@model SPS_Web_22S1.Models.StudentDetail

@{
    ViewBag.Title = Model.Student.GivenName + Model.Student.LastName + "'s Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<h1 class="display-4">Student Details</h1>
<script type="text/javascript">
    $(document).ready(function () {
        //alert($("#QualCode").val());
        //$("#SubjectDiv").load("/SubjectManagement/ListSubjects/?QualCode=" + $("#QualCode").val());
        loadSubjects();
    });
    $(document).ajaxSend(function () {
        $("#loadingDiv").show();
    }).ajaxComplete(function () {
        $("#loadingDiv").hide();
    });
    function loadSubjects() {

        $.ajax({
            url: "/SubjectManagement/ListSubjects/",
            type: 'get',
            dataType: 'text',
            data: {
                QualCode: $("#QualCode").val(),
                studentID: $("#StudentIDtd").text()
            },
            success: function (result) {
                //console.log("sucess");
                //console.log(result);
                $('#SubjectDiv').html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
        //alert($("#StudentIDtd").text());

    }


    //$(document).ready(function () {
    //    alert("working");
    //    $("#QualCode").change{
    //        $(".form").submit();
    //    }
    //    //$("#SubjectDiv").load("/SubjectManagement/ListSubjects #QualCode");
    //    alert($("#QualCode").val());
    //    $("#SubjectDiv").html("/SubjectManagement/ListSubjects/?QualCode=" + $("#QualCode").val());
    // })
</script>

<div class="row">
    <container class="studentinfo">
        @using (Ajax.BeginForm("Index", "SubjectManagement", new AjaxOptions { HttpMethod = "Get" }))
        {
            <table class="table">
                <tr>
                    <th>Student Name:</th>
                    <td>@Model.Student.GivenName @Model.Student.LastName</td>
                    <th>Student ID</th>
                    <td id="StudentIDtd">@Model.Student.StudentID</td>
                    <th>Student Email</th>
                    <td>
                        @Model.Student.EmailAddress
                    </td>
                </tr>
                <tr>
                    <th>Plan</th>
                    <td>@Html.DropDownList("QualCode", new SelectList(Model.StudyPlanList, "QualCode", "QualCode"), new { StudentID = Model.Student.StudentID })</td>
                    <th>Qualification</th>
                    <td>@Model.Qualification.QualName</td>
                    <th>Enrolment Type</th>
                    <td>@Model.StudyPlan.EnrolmentType</td>
                </tr>
                <tr>
                    <th>TAFE Code</th>
                    <td>@Model.Qualification.TafeQualCode</td>
                    <th>National Code</th>
                    <td>@Model.Qualification.NationalQualCode</td>
                    <th>Year Start</th>
                    <td>@Model.StudyPlan.TermYearStart</td>
                </tr>
            </table>
        }
    </container>
    <div id="loadingDiv" class="text-center">
        <img id=""src="~/img/loading.gif" class="img-fluid" alt="loading" height="30" width="30">
        </div>
    <div id="SubjectDiv">
    </div>
</div>