@using SPS_Web_22S1.Models
@model Tuple<List<SubjectDetail>, List<SubjectDetail>, List<UnAttemptedSubject>>


<table class="table">
    <tr>
        <th>Subjects Comleted</th>
    </tr>
    <tr>
        <th>Subject Code</th>
        <th>Tafe Competency Code</th>
        <th>National Competency Code</th>
        <th>Competency Name</th>
        <th>Finished Term</th>
        <th>Grade</th>
        <th>Grade Date</th>
    </tr>

    @foreach (var item in Model.Item1)
    {
        if (item != null)
        {
            <tr>
                <td>
                    @item.Subject.SubjectCode
                </td>
                <td>
                    @item.Competency.TafeCompCode
                </td>
                <td>
                    @item.Competency.NationalCompCode
                </td>
                <td>
                    @item.Competency.CompetencyName
                </td>
                <td>
                    @item.CRN_Detail.TermYearStart <text>Term</text>@item.CRN_Detail.TermCodeStart
                </td>
                <td>
                    @item.Grade.Grade
                </td>
                <td>
                    @if (@item.Grade.GradeDate.HasValue)
                    {
                        @Convert.ToDateTime(item.Grade.GradeDate).ToString("dd/MM/yyyy")
                    }
                </td>
            </tr>
        }
    }
    @foreach (var item in Model.Item2)
    {
        if (item != null)
        {
            <tr>
                <td>
                    @item.Subject.SubjectCode
                </td>
                <td>
                    @item.Competency.TafeCompCode
                </td>
                <td>
                    @item.Competency.NationalCompCode
                </td>
                <td>
                    @item.Competency.CompetencyName
                </td>
                <td>
                    @item.CRN_Detail.TermYearStart <text>Term</text>@item.CRN_Detail.TermCodeStart
                </td>
                <td>
                    @item.Grade.Grade
                </td>
                <td>
                    @if (@item.Grade.GradeDate.HasValue)
                    {
                        @Convert.ToDateTime(item.Grade.GradeDate).ToString("dd/MM/yyyy")
                    }
                </td>
            </tr>
        }
    }
    @foreach (var item in Model.Item3)
    {
        if (item != null)
        {
            <tr>
                <td>
                    @item.Subject.SubjectCode
                </td>

            </tr>
        }
    }
</table>

