

<table class="table">
    <tr>
        <th>Subjects Comleted</th>
    </tr>
    <tr>
        <th>Subject Code</th>
        <th>Tafe Competency Code</th>
        <th>National Competency Code</th>
        <th>Competency Name</th>
        <th>Finished Term</th>
        <th>Grade</th>
        <th>Grade Date</th>
    </tr>

    @foreach (var item in ViewBag.PassedList)
    {
    if(item != null){
            
<tr>
    <td>
        @item.Subject.SubjectCode
    </td>
    <td>
        @item.CRN.TafeCompCode
    </td>
    <td>
        @item.Competency.NationalCompCode
    </td>
    <td>
        @item.Competency.CompetencyName
    </td>
    <td>
        @item.CRN.TermYearEnd <text>Term</text>@item.CRN.TermYearEnd
    </td>
    <td>
        @item.StudentGrade
    </td>
    <td>
        @item.StudentGradeDate
    </td>
</tr>
    }
    }
</table>

