

<table class="table">
    <tr>
        <th>CRN</th>
        <th>Subject Code </th>
        <th>Subject Description</th>
        <th>Term Year Start</th>
        <th>Lecture </th>
        <th>Grade</th>
        <th>Grade Date</th>
    </tr>

    @foreach (var item in Model)
    {
    if(item != null){
<tr>
    <td>
        @item.CRNDetails.CRN
    </td>
    <td>
        @item.Subject.SubjectCode
    </td>
    <td>
        @item.Subject.SubjectDescription
    </td>
    <td>
        @item.CRNDetails.TermYearStart <text>S</text>@item.CRNDetails.TermCodeStart
    </td>
        @if(@item.Lecture != null)
        {
    <td>
                        @item.Lecture.GivenName @item.Lecture.LastName 
    </td>
        }

    <td>
         @item.StudentGrade
    </td>
    <td>
            @item.StudentGradeDate
    </td>
</tr>
    }
    }

</table>

