@model IEnumerable<SPS_Web_22S1.student>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GivenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>Select</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.StudentID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GivenName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmailAddress)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
        @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })*@
        @{
            if (item != null)
            {
                @Html.RadioButton("item.StudentID", item.StudentID)
            }
        }
    </td>
</tr>
}

</table>

