@model IEnumerable<SPS_Web_22S1.Student>
@{
    ViewBag.Title = "SearchStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Search Student</h1>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '../students/index',
            type: 'get',
            success: function (result) {
                $('#studentListTableDiv').html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });

        
        $('#searchConditionSubmit').click(function () {
            if ($('#studentNameSearchInput').val() == "" && $("#studentIDSearchInput").val() == "") {
                $("#inputErrorSpan").html("Please Enter Student name or Student ID for searching");
                return;
            }
            if ($('#studentNameSearchInput').val() != "") {
                var regSutdentName = /[a-zA-Z]/;
                if (!regSutdentName.test($("#studentNameSearchInput").val())) {
                    $("#inputErrorSpan").html("Student Name format invalid, letters only");
                    $('#studentNameSearchInput').focus();
                    return;
                }
            }
            if ($('#studentIDSearchInput').val() != "") {
                var regSutdentID = /\d{9}$/;
                if (!regSutdentID.test($("#studentIDSearchInput").val())) {
                    $("#inputErrorSpan").html("Student ID format invalid, 9 digits number only");
                    $('#studentIDSearchInput').focus();
                    return;
                }
            }

            studentName = $('#studentNameSearchInput').val();
            studentID = $('#studentIDSearchInput').val();
            $.ajax({
                url: '@Url.Action("SearchStudent")',
                type: 'post',
                dataType: 'text',
                data: {
                    studentName: studentName,
                    studentID: studentID
                },
                success: function (result) {
                    //console.log("sucess");
                    //console.log(result);
                    $('#studentListTableDiv').empty();
                    $('#studentListTableDiv').html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });

        $('#proceedBtn').click(function () {

            selectedStudentID = $("input:radio[name='item.StudentID']:checked").val();
            //alert(selectedStudentID);

            if (selectedStudentID != null) {
                $(location).attr("href", "/SubjectManagement/Index/?studentID=" + selectedStudentID);
            } else {
                alert( "Please select a student to proceed" );
            }
        });

        $('#resetBtn').click(function () {
            $('#studentNameSearchInput').val("");
            $('#studentIDSearchInput').val("");
            location.reload();
        });

    });



</script>

<div class="studentsearch">
    <b>Search By Student name</b>
    <input id="studentNameSearchInput" name="studentName" type="text" />

    <b><i>&nbsp; Or &nbsp;</i></b>
    <b>Search By Student ID</b>
    <input id="studentIDSearchInput" name="studentID" type="text" /> &nbsp;

    <button id="searchConditionSubmit" class="searchbuttons btn" type="button">Search</button>
    <button id="resetBtn" class="searchbuttons btn">Reset</button>
    <br>
    <span id="inputErrorSpan" class="badge badge-danger"></span>
</div>

<div id="studentListTableDiv">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>Select</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GivenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })*@
                    @{
                        if (item != null)
                        {
                            @Html.RadioButton("item.StudentID", item.StudentID)
                        }
                    }
                </td>
            </tr>
        }

    </table>
</div>
<br>
<br>
<br>
<br>
<button id="proceedBtn" class="searchbuttons btn" type="submit" margin="5">Proceed</button>

